.form-container {
    max-width: 400px; /* Maximális szélesség az űrlaphoz */
    width: 100%;
}

h1, .regist, .message {
    text-align: center;
}

.webcim{
    text-align: center;
}

ol li{
    text-align: center;
    align-items: center;
    list-style: none;
    list-style-type: none;
}
